.App {
  text-align: center;
  .new_record {
    width: 197.16px;
    height: 46px;
    background: #204080;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    margin-top: 50px;
    font-weight: 700;
    cursor: pointer;
  }
  .main_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search_main {
    margin-top: 73px;
  }

  .add_record {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .search_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      width: 278px;
      height: 115px;
    }
    .search_head_title {
      width: 340px;
      margin-top: 14px;
      text-align: right;
      color: #484848;
      font-size: 14px;
      font-weight: 700;
    }
  }
  .search_content {
    h1 {
      text-align: left;
      font-weight: 700;
      font-size: 32px;
      color: #090a0a;
    }
    .search {
      display: flex;
      flex-direction: row;
      margin-left: 15px;

      .search_input {
        width: 646px;
        border: 2px solid #204080;
        border-radius: 8px;
        height: 48px;
        margin-right: 11px;
      }
      .search_btn {
        font-size: 18px;
        font-weight: 700;
        background: #204080;
        border-radius: 12px;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
    .search_result {
      width: 720.84px;
      height: 248.25px;
      padding-left: 10px;
      background: #ffffff;
      border: 1px solid #484848;
      border-radius: 24px;
      margin-top: 8px;
      margin-right: 15px;
      .item {
        width: 90%;
        display: flex;
        align-items: center;
        margin-top: 16px;
        margin-left: 15px;
        padding: 15px;
        box-sizing: border-box;
        border-bottom: 1px solid #f1f1f1;
        height: 60px;
        .item_text {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          align-items: start;
          .item_head_title {
            font-weight: 400;
            font-size: 16px;
            color: #090a0a;
          }
          span {
            color: #72777a;
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .top_news {
    width: 100%;
    margin-top: 93px;
    margin-bottom: 5px;
  }
  .tops {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .tops_head_title {
      text-align: left;
      font-weight: 700;
      font-size: 32px;
      color: #090a0a;
    }
    .news {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      .right {
        transform: rotate(180deg);
        margin-left: 23px;
      }
      .left {
        margin-right: 23px;
      }
      .news_tops {
        margin-left: 23.92px;

        .news_text {
          display: flex;
          flex-direction: column;
          .news_title {
            margin-top: 12px;
            font-weight: 700;
            font-size: 16px;
            color: #090a0a;
            text-align: left;
          }
          .news_time {
            text-align: left;
            margin-top: 8px;
            color: #6c7072;
            font-weight: 400;
            font-size: 12px;
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
    margin-top: 58px;
  }
  .footers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250.13px;
    padding: 25px;
    background: rgba(41, 78, 152, 0.72);
    .footer_svg {
      width: 217.42px;
      height: 179.5px;
    }
    .footer_text {
      width: 424.98px;
      height: 171.77px;
      text-align: left;
      color: white;
      margin-left: 25.42px;
      p {
        font-size: 18px;
        font-weight: 400;
      }
      span {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}

.container {
  width: 1064px;
  margin: 0px auto;
}
